@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&family=Red+Hat+Text:wght@300;500&display=swap');


.home{
    background: url('./assets/background.png') center center fixed;
    width:100%;
    background-size: cover;
    height:100vh;
}
.title{
    padding-top: 37vh;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 72px;
    color: white;
}
.description{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 18px;
    color: white;
}



@media only screen and (max-width: 960px){
    .title{
        padding-top:40vh;
        font-size:48px;
    }
    .description{
        font-size:14px;
    }
}
@media only screen and (max-width: 500px){
    .home{
        background: url('./assets/background.png') center center fixed;
        /* background-position-x: -830px; */
        width:100%;
        background-size: cover;
        height:100vh;
    }
}